@page
@model Final_Project.Pages.Resurants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
   <form method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" asp-for="searchString" value="@(Model.searchString)" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">

    <thead>
        <tr>
            <th>
                @{
                    var namesort="Name_a";
                    if(Model.sort=="Name_a"){
                        namesort="Name_d"; 

                    }
                     var genresort="Genre_a";
                    if(Model.sort=="Genre_a"){
                        genresort="Genre_d";
                    }
                     var ratingsort="Rating_a";
                    if(Model.sort=="Rating_a"){
                        ratingsort="Rating_d";
                    }
                }
               <a asp-page="./Index" asp-route-sort="@namesort" asp-route-pagenum="@(Model.pagenum)">  @Html.DisplayNameFor(model => model.Resturant[0].Name)</a>
            </th>
            <th>
               <a asp-page="./Index" asp-route-sort="@genresort" asp-route-pagenum="@(Model.pagenum)"> @Html.DisplayNameFor(model => model.Resturant[0].Genre)</a> 
            </th>
            <th>
              <a asp-page="./Index" asp-route-sort="@ratingsort" asp-route-pagenum="@(Model.pagenum)">   @Html.DisplayNameFor(model => model.Resturant[0].Rating)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Resturant) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                 @foreach (var reviewer in item.ReviewResturants)
            {
                @reviewer.FoodReviewer.Name <br/>
                
            }

            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ResturantID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ResturantID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ResturantID">Delete</a>
            </td>
           
        </tr>
}
    </tbody>
</table>
<hr />
@{
    var pdisable="";
    var ndisable="";
    if(Model.pagenum<=1){
        pdisable="disabled";
    }
    if(Model.pagenum>=5){
        ndisable="disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @pdisable"><a class="page-link" asp-page="./Index" asp-route-pagenum="@(Model.pagenum-1)">Previous</a>
        </li>
        <li class="page-item @ndisable"><a class="page-link" asp-page="./Index" asp-route-pagenum="@(Model.pagenum+1)">Next</a>
        </li>
    </ul>
</nav>

